.navbar {
    background-color: #424453;
    color: #FFF;
    font-size: 1.2em;
    border: 0px;
}

.navbar-inverse .navbar-nav a,
.navbar-inverse .navbar-nav a:focus,
.navbar-inverse .navbar-nav a:hover {
    color: #FFF;
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
}

.navbar-inverse .navbar-brand {
    color: #D5D5D5;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #424453;
    border-color: #FFF;
}

.center-absolute {
    left: 30%;
    position: absolute;
}

.search-form-container {
    max-width: 500px;
    width: 500px;
    min-width: 200px;
}

#search-category-btn {
    height: 34px;
}

#search-input {
    max-width: 400px;
    min-width: 125px;
}

#search-btn {
    height: 34px
}

#input-group-wrapper {
    max-width: 468px;
    min-width: 195px;
}

@media screen and (max-width: 768px) {
    .header-search-inputs {

    }
}

@media screen and (min-width: 768px) {
    .header-search-inputs {
        position: absolute;
        left: 15%;
    }
    #search-input {
        width: 300px;
    }
}

@media screen and (min-width: 852px) {
    .header-search-inputs {
        position: absolute;
        left: 25%;
    }

    #search-input {
        width: 320px;
    }

}

@media screen and (min-width: 992px) {
    .header-search-inputs {
        position: absolute;
        left: 27%;
    }

    #search-input {
        width: 400px;
    }
}