.menu-item {
    margin: 0 auto;
    width: 160px;
    max-width: 100%;
    font-size: 1.4em !important;
}

.menu {
    border: 2px solid rgb(214, 214, 214);
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

a.service-ref {
    text-decoration: none;
}

a.service-ref:hover {
    text-decoration: none;
}

a.service-ref:active {
    text-decoration: none;
}